*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' , sans-serif ;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0;
}
:root{
  --blue:#017198;
  --labny:#2eb3eb;
  --mint:#01f6fe;
  --gray: #d8e2ea;
  --move:#d6accf;
  --dark:#9b8f93;
  --gra:royalblue  ;
  --cyan:cyan;
}
a{
  text-decoration:none ;
}
/* body{
  font-size:18px ;
  background-color:#eee ;
  min-height: 100vh;
  text-align: center;
  display: grid;
} */
/* 
.container-fluid{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background-color: var(--blue);
  color: var(--mint);
}
.dropbtn1 {
  background-color: var(--blue);
  margin-right: 100px;
  display: flex;
  justify-self:start ;
  gap: 6px;
  color:  var(--mint);
  cursor: pointer;
  height: 30px;
  padding-top: 3px;
  font-size: 18px;
}
.dropdown1 {
position: relative;
display: inline-block;
}
.dropdown-content1 {
display: none;
position: absolute;
background-color:var(--mint);
min-width: 160px;
z-index: 1;
}
.dropdown-content1 a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-content1 a:hover {
  background-color:var(--labny)
}
.dropdown1:hover .dropdown-content1 {
display: block;
}
.dropdown1:hover .dropbtn1 {
background-color: rgba(0, 0, 0, 0.623);
} 
.ulnav {
  list-style-type: none;
  background-color: var(--gray);
  height:165px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}  
.img-nav{
  width: 200px;
  height: 150px;
  padding: 15px;
}
ul li{
  padding-top: 50px;
  font-size: 30px;
  
}
ul li a{
  color: var(--labny);
}
ul div{
  padding-top: 25px;
  font-size: 30px;
}
.topnav input[type=text] {
  border: 1px solid var(--mint);    
}
.topnav .search-container button {
  background: var(--blue);
  border: 1px solid var(--mint);
  cursor: pointer;
  color: var(--mint);
  width: 50px;
  text-align: center;
}
.topnav .search-container button:hover {
  background: #ccc;
}
.button{
  cursor: pointer;
  color: var(--mint);
  background-color:var(--blue);
  border-radius:5px;
  box-shadow: 0 5px var(--mint);
  width: 150px;
  height: 50px;
} */
main{
  width: 90%;
  margin: 60px auto;
  font-family: sans-serif;
}
.hedar{
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hedar ul li{
  list-style: none;
  padding: 20px;
  margin: 10px;
  float: left;
  font-size: 20px;
  border-radius: 35px;
}
.hedar ul li a{
  color: inherit;
  text-decoration: none;
}
.hedar ul li.active{
  background-color: var(--cyan);
}
.hedar ul li.active a{
  color: white;
  font-weight: bold;
}
.filter-condition{
  padding: 20px;
  height: 100px;
  font-weight: bold;
  font-size: 20px;
}
.filter-condition select{
  width: 120px;
  padding: 0 0 0 10px;
  border: none;
  outline: none;
  font-weight: bold;
  color: purple;
  background: transparent;
  cursor: pointer;
}
.product-filed{
  padding: 40px 20px;
}
.product-filed ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.product-filed ul li{
  list-style: none;
  width: 23.4%;
  height: 400px;
  transition: 0.5 all;
  background: whitesmoke;
  border-radius: 20px;
  padding: 10px;
  margin: 200px 10px 0 10px;
  position: relative;
}
picture{
  background: #eee;
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 41%;
  width: 75%;
  height: 85%;
  border-radius: 50px 20px 0 20px;
  transform: skewY(20deg);
  overflow: hidden;
  box-shadow: 0 1px 0 #00000020, -1px 0 0 #eee;
}
picture img{
  
  z-index: 1;
  transform: skewY(-20deg);
  padding: 25px 0 0 0;
  width:200px;
  height:300px;
  border-radius: 10px;
  object-fit:contain;
}
.ditel{
  width: 100%;
  height: 100%;
}
.ditel .icon{
  width: 30%;
  height: 55%;
  padding: 20px 5px;
}
.icon span{
  background: #00000030;
  width: 50px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 5px;
  font-size: 20px;
  color:white ;
}
.icon span:hover{
  background-color: var(--cyan);
  cursor: pointer;
}
.ditel>strong{
  display: inherit;
  margin: 8px;
  font-size: 30px;
  letter-spacing: 2px;
  color: #555;
}
.ditel>span{
  display: inherit;
  padding: 0 20px;
  width: 80%;
}
.ditel small{
  display: inline-block;
  padding: 8px 20px;
  margin: 15px;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #555;
  cursor: pointer;
}
.ditel small:hover{
  color: white;
  background-color: var(--cyan);
  border-color: var(--gra);
}
li h4{
  position: absolute;
  right: 10px;
  top: 50%;
  color: #555;
  text-shadow: 1px 1px 2px black;
}
