*{
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
}
:root{
    --blue:#017198;
    --labny:#2eb3eb;
    --mint:#01f6fe;
    --gray: #d8e2ea;
    --move:#d6accf;
    --dark:#9b8f93;
}
body{
    background-image: url(../imgs/pngtree-blurred-blue-background-abstract-blur-photo-picture-image_2437697.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    font-size: 14px;
    
   
   
}
header{
    background-color:var(--blue);
    color: var(--blue);
    display: flex;
    justify-content: space-evenly;
}
.dropbtn1 {
    margin-right: 100px;
    background-color:  var(--blue);
    display: flex;
    justify-self:start ;
    gap: 6px;
    color:  var(--mint);
    cursor: pointer;
    height: 30px;
    width: 100px;
    padding-top: 3px;
    font-size: 18px;
    
}

.dropdown1 {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color:var(--mint);
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {
    background-color:var(--labny)
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  background-color: rgba(0, 0, 0, 0.623);
}
#num{
    padding-left: 100px;
    padding-right: 100px;
    color: var(--mint);

}
#mal{
   
    padding-right: 100px;
    color: var(--mint);
}
#vav{
    padding-left: 50px;
    padding-right: 200px;
    color: var(--mint);
}
#sing{
    color: var(--mint);
    margin-left: 100px;
    
}
#reg{
    color: var(--labny);
    
}
img{
   width: 300px; 
   height: 300px;
   border-radius: 50%;
   margin-top: 50px;
}
section.form{
    display: block;
    text-align: center;
}
form{
    background-color: var(--blue);
    width: 500px;
    height: 650px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    color: var(--mint);
    margin-bottom: 40px;
    font-size: 30px;
}
.text{
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
    font-size: 18px;
    outline: none;
    border: none;
    border-width: 1px;
    border-color: var(--mint);
    border-style: solid;
    background-color:var(--blue) ;
    border-radius: 7px;
}
.g-recaptcha{
    margin: 10px 0px;
}
.button{
    width: 70%;
    padding: 15px;
    border: none;
    background-color: var(--labny);
    color: rgb(59, 24, 104);
    font-size: 18px;
    margin: 10px 0px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 25px;
    border-radius: 8px;
    
}
input[type=text]{
    color: white;
    background-color: url('../imgs/icons8-person-16.png');
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
footer{
    background-color:  var(--blue);
   /* left: 0; */
   /* bottom: 0; */
   width: 100%;
   color: var(--mint);
   text-align: center;
   height: 40px;
   padding: 10px;
   
}
span{
    color: var(--dark);
}
.pd3{
    color: #868282;
}
.s1{
    color: var(--labny);
} 
